*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.dark{
    background-color: #202020;
    color: #fff;


}

.light{
    background-color: #fff;

}

.navbar{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 10px;
}
.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 14px;
    gap: 15px;
    cursor: pointer;
}
.cuenta{
    border-radius: 50%;
}
.btn-dark{
    background: transparent;
    border: none;
    cursor: pointer;
    
    
}
.icon-darkmode{
    filter: invert(.8);
    color: #ffffff;
}
.icon-lightmode{
    filter: invert(0);
    color: #2c2c2c;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 175px 10px;
    
}

.barra-buscador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
    background-color: #fff;
    border-radius: 24px;
    width: 30rem;
    border: 1px solid #2c2c2c;
    cursor: pointer;
}
span{
    margin: 5px;
    padding: 5px;
}
.input-search>input{
    border: none;
    width: 20rem;
    padding: 5px;
    
}
.buttons-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input:hover{
    background-color: #3d3c3c;
    color: #fff;
}
.input{
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.light>footer>div>div>ul>li{
    color: #161616
}
.dark>footer{
    background-color: #161616;
    color: #fff;
}
.footer >div > ul > li {
    list-style: none;
    margin: 10px 0;   
    

}

.footer-left, .footer-right{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    gap: 10px;
    margin: 15px;
    cursor: pointer;
}


@media screen and (max-width: 768px){
    .footer-left, .footer-right{
        font-size: 10px;
    }
    .barra-buscador{
        width: 20rem;
    }
    #barra-buscador{
        width: 20rem;
    }
    #search{
        width: 12rem;
    }
    .iconos-barra>span{
        font-size: 18px;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
    }

}
    
